*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
.container{
    height: 100vh;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}
.box{
    height: 400px;
    width: 400px;
    background-color: rgb(255, 230, 0);
    font-size: 30px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: moving;
    animation-duration: 30s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    border-radius: 50%;
}
@keyframes moving {
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}
.sun{
    height: 200px;
    width: 200px;
    background-color: rgb(250, 225, 0);
    transform: translateX(100px);
    border-radius: 50%;
}

