*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    
}
body{
    background-color: black;
    color: white;
    font-size: 45px;
}
.container{
    display: grid;
    height: 800px;
    width: 100vw;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 2fr 2fr 1fr;
    gap: 20px;
    padding: 10px;
    
}
.box{
    background-color: rgb(95, 95, 226);
}
.first{
    grid-column-start: 1;
    grid-column-end: 4;
}
.second{
    grid-row: 2/4;
}
.third{
    grid-column: 2/4;
}
.sixth{
    grid-column: 1/4;
}