*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
body{
    background-color: black;
    display: grid;
    justify-content: center;
    align-items: center;
    
}
.container{
    height: 100px;
    width: 100px;
    background-color: aqua;
    border-radius: 50px;
    box-shadow: 0px 0px 5px 20px red;
}